body {
	background-color: #EEE;
	margin: 0;
	display: flex;
	flex-flow: column;
	min-height: 100vh;
}

header {
	flex: 0;
	background-color: #999;
}

header ul {
	list-style: none;
	padding-left: 0;
}

header li {
	display: inline;
	padding-right: 1em;
}

header a {
	color: #000;
	text-decoration: none;
}

header a:hover {
	text-decoration: underline;
}

main {
	flex: 1;
}

footer {
	flex: 2;
	background-color: #CCC;
}

footer div.container {
	display: flex;
	justify-content: space-between;
	padding-top: 1em;
}
div.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	margin: 0;
	padding-top: 1em;
	padding-bottom: 0.8em;
}

span.code {
	background-color: #CCC;
	font-weight: bold;
	padding-left: 0.3em;
	padding-right: 0.3em;
	border-radius: 0.2em;
}

span.title {
	font-weight: lighter;
}

textarea.bdnote {
	width: 100%;
	min-height: 300px;
	font-size: large;
}

label.info {
	width: 20%;
	display: inline-block;
}

input.info {
	width: 79%;
}

p.middle {
	display: flex;
	justify-content: center;
}

p.middle button.submit {
	width: 20em;
	height: 2.5em;
	margin-left: auto;
	margin-right: auto;
}