<div class="container">
	<h1><%=sub_title %></h1>
	<hr>
	<label class="info">Title</label><input type="text" class="info"/><br />
	<label class="info">Composer</label><input type="text" class="info"/><br />
	<label class="info">Uploader</label><input type="text" class="info"/><br />
	<label class="info">Introduction</label><input type="text" class="info"/><br />
	<textarea class="bdnote" placeholder="input the bdnode..."></textarea>
	<p class="middle"><button class="submit">Submit</button></p>
</div>